@model Configuration
@{
    var siteLocalizations = WebRequestContext.Localization.SiteLocalizations;
    var filteredLocalizations = new List<Localization>();
    if (siteLocalizations.Count > 1)
    {
        var excludedLocalizations = new List<string>();
        if (Model.Settings.ContainsKey("suppressLocalizations"))
        {
            excludedLocalizations = Model.Settings["suppressLocalizations"].Split(',').Select(l => ("/" + l.Trim())).ToList();
        }

        filteredLocalizations.AddRange(siteLocalizations.Where(siteLoc => !excludedLocalizations.Contains(siteLoc.Path)).Select(s=>s));
    }
    var redirectId = WebRequestContext.PageModel == null ? null : WebRequestContext.PageModel.Id;
    var defaultItem = Model.Settings.ContainsKey("defaultContentLink") ? Model.Settings["defaultContentLink"] : null;
}
@if (filteredLocalizations.Count > 1)
{
    <div class="@Model.HtmlClasses" @Html.DxaEntityMarkup()>
        <select class="selectpicker" data-width="auto">
            @foreach (var loc in filteredLocalizations)
            {
                string url;
                if (redirectId != null)
                {
                    var parms = "localizationId=" + loc.Id + (defaultItem != null ? "&defaultItem=" + defaultItem : "");
                    parms += "&defaultPath=" + loc.Path;
                    url = (WebRequestContext.Localization.Path) + "/resolve/" + redirectId + "?" + parms;
                }
                else
                {
                    url = (WebRequestContext.Localization.Path);
                }
                <option value="@loc.Id" data-href="@url" @(loc.LocalizationId == WebRequestContext.Localization.LocalizationId ? "selected" : "")>
                    @loc.Language
                </option>
            }
        </select>
    </div>
}